<launch>

  <arg name="loam_track_file"/>

  <node pkg="loam" type="scanRegistration" name="scanRegistration" output="screen"/>

  <node pkg="loam" type="laserOdometry" name="laserOdometry" output="screen"/>

  <node pkg="loam" type="laserMapping" name="laserMapping" output="screen"/>
  <node pkg="loam" type="transformMaintenance" name="transformMaintenance" output="screen"
  args="$(arg loam_track_file)"/>

</launch>
